*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea   {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}
/*-----------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    font-family: Roboto;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.header {
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.image__header {
    margin: 10px 0 0 0;
}
.header__text {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #272727;
    margin: 27px 0 29px 0;
}
.bold__line p:last-child{
    font-weight: 600;
}
.button {
    width: 280px;
    height: 57px;
    padding: 17px 47px;
    background: #D75A00;
    border-radius: 5px;
    margin: 17px 0 20px 0;
}
.button__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;   
}
.navigation, .footer {
    background-color: #0076A8;
    width: 100%;
}
.navigation__row {
    display:flex;
    justify-content: space-between;
}
.navigation__button, .footer__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 25px 0;
}
.navigation__button:hover ,.button__text:hover, .footer__button:hover, .info__button_price:hover,.info__button_call:hover {
    text-decoration: solid underline 2px;
}

.footer__row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1441px;
    margin: 0 auto;
}
.image__footer:first-child {
    margin: 12px 0 22px 40px;
}
.image__footer:last-child{
    margin: 25px 50px 34px 0px;
}
.info{
    margin: 0 0 62px 0;
}
.information {
    min-width: 770px;
}
.opening{
    display: flex;
}
.information__text{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    max-width:710px; 
    margin: 0px 0 31px 0;
}
.info__text_1 {
    font-size: 40px;
    line-height: 52px;
    color: #272727;
    margin: 110px 0px 82px 0px;
}
.info__text_1 p:first-child{
    font-weight: 600;
}
.info__text_1 p:last-child{
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    background-color: #D75A00;
    padding: 8px 13px;
}
.info__text_2 {
    font-size: 24px;
    line-height: 28px;
    color: #272727;

}
.info__button{
}
.info__button_price {
    background-color: #D75A00;
    border-radius: 5px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 31px 0 0;
    padding: 24px 35px;
}

.info__button_call {
    background: #FFFFFF;
    border: 4px solid #FF6B00;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #FF6B00;
    padding: 20px 46px;
}

.button__flex{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.image{
    display: flex;
    align-items: flex-start;
}
.image__img{
}
.content {
    background: url(../img/backgrounds/bg_pattern.png) top left/ 100% 100% no-repeat;
}
/*-------------------------.advantage-------------------------*/
.advantage {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.advantage__img__screwdriver {
    position:absolute;
    right: 0;
    top:-100px;
}
.advantage__img__wires {
    position:absolute;
    top:-100px;
    left:-30px;
    z-index: -1;
}
.advantage__block {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    background: white;
    width: 976px;
    height: 530px;
    margin: 0 0 110px 0;
    padding: 77px 0 0 0;
}
.advantage__block__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
    }
.advantage__block__title span{
    width: 290px;
    margin: 21px 0 41px 0;
    border-bottom: 3px solid #0076A8;
}
.advantage__block__items__1 {
    display:grid;
    justify-content:center;
    grid-template-columns: repeat(4,176px);
    padding: 0 104px 0 99px;
    width: 976px;
}
.advantage__block__items__2 {
    display:grid;
    justify-content:center;
    grid-template-columns: repeat(3,176px);
    padding: 0 104px 0 99px;
    width: 976px;
}
.block__items__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 36px 28px 0;
}
.block__items__content:last-child{
    margin-right:0;
}
.block__items__content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
/*-------------------------repair-------------------------*/
.repair {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 130px 100px;
}
.repair__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    color: #FFFFFF;
    margin:0 0 19px 0;
}
.repair__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 89px 0;
}
.repair__content {
    display: grid;
    grid-template: repeat(2,596px)/repeat(3,398px);
}
.content__items {
    display:flex;
    flex-direction: column;
    width: 382px;
    height: 574px;
    background: white;
    border-radius: 5px;
    margin: 0 16px 0 22px;
}
.content__items img{
    height:242px;
    width:382px;
    margin: 0 0 34px 0;
    border-radius: 5px;
}
.content__items p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000;
    margin: 0 0 25px 0;
}
.content__items ul li{
    list-style-type: disc;
}
.content__items ul{

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 0 9px 0 40px;
    margin: 0 0 31px 0;
}
.content__items__button {
    display:flex;
    background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
    border-radius: 5px;
    width:308px;
    height: 66px;
    margin: 0 auto;
}
.content__items__button p{
    margin: auto auto;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*-------------------------consultation-------------------------*/
.consultation {
}
/*-------------------------review-------------------------*/
.review {
    background: url(../img/backgrounds/bg_review.png) 100% 100% no-repeat;
    height: 776px;
}
.review__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1250px;
    margin: 0 auto;
    padding: 140px 0 0 0;
}
.review__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #272727;
    margin: 0 0 109px 0
}
.review__content__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}
.arrow__prev {
}
.slider__content {
}
.slide__items {
}
.arrow__next {
}
/*-------------------------contacts-------------------------*/
.contacts {
}
.contacts__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0 50px 0;
}
.contacts__text {
    font-family: 'Roboto';
    color: black;
}
.contacts__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    width: 187px;
    border-bottom: 3px solid #0076A8;
    padding: 0 0 10px 0;
    margin: 0 0 38px 0;
}
.contacts__address {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 34px 0;
}
.colored__word{
    color: #FF6B00;
}
.contacts__social {
    display: flex;
    justify-content: flex-start;
}
.contacts__social img{
    margin: 0 4px 0 0;
} 
.contacts__social img:last-child{
    margin: 0;
} 
.contacts__map {
    width: 680px;
    height: 404px;
}
.contacts__map__image {
    width: 100%;
    height: 100%;
}